
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/public/app.css" rel="stylesheet">
        <title>Static</title>
    </head>
    <body class="home">
        <div style="text-align:center;">
            <h1>Static Feed</h1>
                <video width="500" height="440" controls>
                    <source src="/static/tunneloflove.mp4" type="video/mp4">
                </video>
        </div>
        <div class="container">
                <div class="logged-in-box auth0-box logged-in">
                    <a id="qsBackBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="https://cgwebstream.pagekite.me/dashboard">Back to Dashboard</a>
                </div>
        </div>
    </body>

</html>